body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
}

header {
    margin: 20px 0;
}

#menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#menu-items div {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
}